<h2 class="title-blog">
    ADD Blog Here!
  </h2>
  <form class="add-blog-form">  
    <div>
      <input name="blog-title" type="text" placeholder="Title here"/>
    </div>
    <div>
   <textarea type="text" name="blog-text" placeholder="write your blog"></textarea>
    </div>
    <button type="submit" class="blog-save">Save Blog</button>
  </form>

  <script src="/javascript/addBlog.js"></script>