<h2 class="title-blog">
    UPdate Blog Here!
  </h2>
  <form class="add-blog-form">  
    <div class="title-blog">
      <input name="blog-title" type="text" placeholder= {{title}}>
    </div>
    <div>
   <textarea type="text" name="blog-text">{{blog_text}}</textarea>
    </div>
    <button type="submit" class="blog-save">Save Blog</button>
  </form>

  <script src="/javascript/update-blog.js"></script>