{{!-- //displayed when 'comment here' is clicked on a homepage blog --}}

<ol class="blog-list">
  <li>
    <article class="blog">
      <div class="title-blog">
        <h2>{{blog.title}}</h2>
      </div>
      <div class="blog">
        {{blog.blog_text}}
      </div>

      <div class="meta">
        by {{blog.user.username}} on
        {{blog.created_at}}
        |
      </div>
      <h2>Comments:</h2>
    {{>comments blog.comments}}

{{#if loggedIn}}
<button class="delete-btn">Delete this blog</button>

<form class="comment-form">
  <div>
    <label for="comment-body">New Comment:</label>
    <textarea name="comment-body" class="comment-buddy"></textarea>
  </div>
  
    <button type="submit">add comment</button>
  
</form>
{{/if}}
    </article>
  </li>
</ol>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/delete-blog.js"></script>
{{/if}}