* {
    box-sizing: border-box;
  }
  .blog{
    padding: 20px;
border: 5px solid black;
width:fit-content;
  }
  a {
    text-decoration: none;
    color:  #00D5D5;
    font-weight: bold;
    transition: color .1s;
  }
  a:hover {
    color:purple;
  }
  .title-blog{
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;
    color:black;
  }
  .text{
    background-color: aqua;
    font-size: medium;
    font-style: italic;
  }
  .blog-head{
    padding: 15px;
    background-color: black;
    color: whitesmoke;
  }
  .blog-list{
    list-style: none;
  }
  .login-form, .signup-form, .add-blog-form{
    margin: 10px;
    border: 5px solid black;
    box-shadow: 3px, 5px aqua;
  }
  .signup-link, .signup-btn{
    width:50%;
    height: 20%;
    background-color: aqua;
  }
  .addBlog-btn, .add-btn{
    font-size: large;
    font-weight: bold;
    width: 20%;
    height: 20%;
    color: black;
    background-color: aqua;
  }